<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinny - ToDO</title>
  <meta 
    name="theme-color" 
    content="#ADD8E6"
  >
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  
</head>
<body>
  <section class="login-sec">
    <button class="button button-cirle" onclick="back() "><</button>
    <br>
    <br>
    <div class="card">

      <h1 id="logo">Log In</h1>

      <form id="login_form" onsubmit="logi()">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>
        <br>
        <p class="error error--hidden"></p>
        <br>
        <input type="submit"  class="button button-primary">
        
      </form>
      
    </div>
    
  </section>
  <section class="create-sec">
    <button class="button button-cirle" onclick="back() "><</button>
    <br>
    <div class="card">

      <h1 id="logo">Create Account</h1>
      <form id="signup_form" onsubmit="crea()">

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>
        <br>
        <p class="error error--hidden"></p>

        <br>
        <input type="submit" value="Sign Up" name="create_account" class="btn">
      </form>
      
      
    </div>
  </section>
  <section class="main">
  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <img class ="notepad"src="/static/img/todo.png">
  <br>
  <section class="hero">
    <header class="hero-header">
      <h1 class="hero-title">Pinny📌</h1>
      <h1 id="logo">The better TO-DO List</h3>
        <div id="buts">
        
          <button class="button button-primary" onclick="cpage() ">Get Started</button>
        
        <button class="button" onclick="lpage() ">Log In</button>
      
      </div>
    </header>
    <footer class="hero-footer">
      
    </footer>
  </section>
</section>

<script>
  var name = Cookies.get('name');
    console.log(name)
    if (name != 'undefined') {
      window.location.href = '/app';
    }
    
  setInterval(function() {
    name = Cookies.get('name');
    
    if (name === 'undefined') {
      console.log(name)
    }
    else{
      window.location.href = '/app';
    }
    

}, 1000);
  
  </script>
  <script>
  function lpage() {
            $(".main").addClass("blur");
            $(".login-sec").addClass("up");
  }
  function cpage() {

            $(".main").addClass("blur");
            $(".create-sec").addClass("up");
  }
  function back() {

  $(".main").removeClass("blur");
  $(".login-sec").removeClass("up");
  $(".create-sec").removeClass("up");
  
  }
  
</script>
  <script src="/static/js/jquery.js"></script>
  <script>
    
  function logi() {
    var form = document.forms.login_form;
    var temp = new FormData(form)
    $.ajax({
                    url: '/ ',
                    type: 'POST',
                    
                    timeout: 30000,
                    data: {
                        tip: "login",
                        email: temp.get("email"),
                        password: temp.get("password"),
                    }})}
    function crea() {
    var form = document.forms.signup_form;
    var temp = new FormData(form)
    $.ajax({
                    url: '/ ',
                    type: 'POST',
                    async: false,
                    
                    data: {
                        tip: "create",
                        email: temp.get("email"),
                        name: temp.get("name"),
                        password: temp.get("password"),
                    },
                    success: function (response) {
                      window.location.href = '/app/';

                    }})}
    
    
</script>
  
</body>
</html>